<!doctype html>
<html>
  <head>
    <title>Учим Английский</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="nav">
      <a href="/">Одиночный режим</a> | <a href="/multi">Мультиплеер</a>
    </div>

    <div class="container">
      <p>Как на английском будет слово:</p>
      <div class="word">{{ ru_word }}</div>

      <div class="btn-grid">
        {% for opt in options %}
        <button onclick="checkAnswer('{{ opt }}')">{{ opt }}</button>
        {% endfor %}
      </div>
      <h3 id="result" style="margin-top: 20px"></h3>
    </div>

    <script>
      function checkAnswer(answer) {
        let correctAnswer = '{{ correct }}';
        let resultEl = document.getElementById('result');
        if (answer === correctAnswer) {
          resultEl.style.color = 'green';
          resultEl.innerText = 'Правильно! Загружаю новое слово...';
          setTimeout(() => location.reload(), 1000); // перезагрузка страницы
        } else {
          resultEl.style.color = 'red';
          resultEl.innerText = 'Ошибка, попробуй еще раз!';
        }
      }
    </script>
  </body>
</html>
